<div class="row">

  <div class="col-4">

    <div class="card">
      <div class="card-body">
        <h3>Usuarios</h3>

        <div class="alert alert-success"
             role="alert"
             *ngIf="usuarios.length === 0"
        >
          <p>No hay usuarios con ese termino</p>
        </div>

        <div class="table-responsive"
             *ngIf="usuarios.length !== 0"
        >
          <table class="table">
            <thead>
            <tr *ngFor="let usuario of usuarios">
              <th>
                <img [src]="usuario.img | imagen: 'usuarios'"
                     class="w100"
                >
              </th>
              <th>{{usuario.nombre}}</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>

  <div class="col-4">

    <div class="card">
      <div class="card-body">
        <h3>Hospitales</h3>

        <div class="alert alert-success" role="alert" *ngIf="hospitales.length === 0">
          <p>No hay hospitales con ese termino</p>
        </div>

        <div class="table-responsive" *ngIf="hospitales.length > 0">
          <table class="table">
            <thead>
            <tr>
              <th>Foto</th>
              <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
            <tr *ngFor="let hospital of hospitales">
              <td>
                <img [src]="hospital.img | imagen: 'hospitales'"
                     class="w100"
                >
              </td>
              <td>{{hospital.nombre}}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>

  <div class="col-4">

    <div class="card">
      <div class="card-body">
        <h3>Médicos</h3>

        <div class="alert alert-success" role="alert" *ngIf="medicos.length === 0">
          <p>No hay médicos con ese termino</p>
        </div>

        <div class="table-responsive" *ngIf="medicos.length > 0">
          <table class="table">
            <thead>
            <tr>
              <th>Foto</th>
              <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medico of medicos"
            >
              <th>
                <img [src]="medico.img | imagen: 'medicos'"
                     class="w100"
                >
              </th>
              <th>
                <a [routerLink]="['/dashboard/medico', medico._id]">
                  {{medico.nombre}}
                </a>
              </th>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>

</div>
